<div class="container mt-5">
  <h2 class="mb-4">Welcome to the Admin Panel</h2>
  <div class="row">
    <div class="col-md-4" (click)="navigateToMessages()">
      <div class="card modern-card message-card">
        <div class="card-body-admin pt-5">
          <i class="material-icons material-icons-admin md-48">mail</i>
          <span>Messages</span>
        </div>
      </div>
    </div>
    <div class="col-md-4" (click)="navigateToOrders()">
      <div class="card modern-card order-card">
        <div class="card-body-admin pt-5">
          <i class="material-icons material-icons-admin md-48">shopping_cart</i>
          <span>Orders</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4" (click)="navigateToAddProduct()">
      <div class="card modern-card product-card">
        <div class="card-body-admin pt-5">
          <i class="material-icons material-icons-admin md-48">add_box</i>
          <span>Add Product</span>
        </div>
      </div>
    </div>
    <div class="col-md-4" (click)="navigateToCustomizeProducts()">
      <div class="card modern-card customize-card">
        <div class="card-body-admin pt-5">
          <i class="material-icons material-icons-admin md-48">palette</i>
          <span>Customize Products</span>
        </div>
      </div>
    </div>
  </div>
</div>
